<h1>Customer Additions</h1>
<canvas id="customer-additions" width="100" height="75"></canvas>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/javascript/chart.js"></script>