<section>
    <h2>Search Customer</h2>
<div class="search">
    <input id="searchCustomer" type="text" placeholder="Type in Customer's Name">
</div>
<br>
<div>
    <button type="submit" class="btn">Search</button>
</div>
</section>