<section>
    <h2>Create New Customer</h2>
    <class="new-customer-form">
        <div>
            <a href="/new-customers">
                <button type="submit" class="btn">Create</button>
            </a>
        </div>
</section>

<section>
    <h2>View All Customers</h2>
    <class="view-customers">
        <a href="/all-customers">
            <button type="submit" class="btn">View All</button>
        </a>
        </class>
</section>


<section>
    <h2>Search Customer</h2>
    <class="search-customer">
        <a href="/search-customers">
            <button type="submit" class="btn">Search</button>
        </a>
        </class>
</section>


<script src="/javascript/customer.js"></script>