<section>
    <h2>Create New Post</h2>
    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname">
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="phonenum">Phone Number:</label><br>
                <input type="text" id="phonenum" name="phonenum">
            </form>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>