{{! Homepage Message and Logo}}

<h2 class="homepage">Welcome to CRM Lite!</h2>
<p class="homepage-p">Please Log In to Continue</p>


<center><img src="/images/CRM-LITE-logo.png" alt="CRM Lite logo" style="max-height: 450px; max-width: 450px"> </center>