<div class="container">
<div class="row">
<form class="login-form">
  <div class="col-sm-6">
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  <br><br>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div class="col-sm-6">
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  <br> <br>
    <button type="submit">signup</button>
  </div>
</form>
</div>
</div>
<script src="/javascript/login.js"></script>

