<section>
    <h2>Create New Customer</h2>
    <form class="new-customer-form">
        <div>
            <label>First name:</label><br>
            <input type="text" id="first_name"><br>
            <label>Last name:</label><br>
            <input type="text" id="last_name">
            <label>Email:</label><br>
            <input type="text" id="email"><br>
            <label>Phone Number:</label><br>
            <input id="phone_number">
            <p>Is this a current customer?</p>
            <input type="radio" name="type" value="customer">
            <label for="html">Customer</label><br>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

<script src="/javascript/customer.js"></script>
