<section>
    <div class="customer">
    <h2>Create New Customer</h2>
    <br>
    <form class="new-customer-form">
        <div>
            <label>First name:</label>
            <input type="text" id="first_name"><br><br>
            <label>Last name:</label>
            <input type="text" id="last_name"><br><br>
            <label>Email:</label>
            <input type="text" id="email"><br><br>
            <label>Phone Number:</label>
            <input id="phone_number"><br><br>
            <p>Is this a current customer or a prospector?</p>
            <div>
            <input type="radio" name="type" value="customer">
            Customer
            </div>
            <div>
            <input type="radio" name="type" value="prospector">
            Prospector
            </div>
            <br>
        <button type="submit" class="btn">Create</button>
    </form>
    </div>
</section>

<script src="/javascript/customer.js"></script>
<script src="/javascript/logout.js"></script>
