<section>
    <h2>Search Customer</h2>
    <br>
<div class="search">
    <input id="searchCustomer" type="text" placeholder="Type in Customer's Name">
</div>
<br>
<div class="butn">
    <button type="submit" class="btn">Search</button>
</div>
</section>

<script src="/javascript/logout.js"></script>