/*Lesson Styles to Updated Start*/

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Georgia;
  color: #333;
}

/*A tags for Dashboard, Login, links*/
a {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #8ABD91;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
  border-radius: 5px;
}

/*Hover effect for link buttons */
a:hover {
  color: #013220;
  text-decoration: none;
}

/*Login and Logout buttons on login page*/
button {
  background-color: #8ABD91;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #013220;
  color: white;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

/* all input bars including search bar*/
input {
  color: #8ABD91;
  border-radius: 5px;
}

/*search bar*/
input:focus::placeholder {
  color: transparent;
}

input#searchCustomer {
  width: 200px;
}

/*CRM Lite Header*/
header h1 {
  font-size: 2em;
}

h1.display-3 {
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

main {
  flex: 1;
  padding: 2% 4%;
}
/*Lesson Styles to Update End*/

/*Button for Logout*/
.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #8ABD91;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
  border-radius: 5px;
}

.btn-no-style:hover {
  color: #013220;
  background-color: transparent;
}

/*Customer Section Styles*/

.customer button {
  color: #8ABD91;
}

.customer .btn {
  border: 0;
  padding: 1%;
  color: #8ABD91;
  font-weight: bold;
  border-radius: 5px;
}

.customer button:hover {
  background-color: #8ABD91;
  color: white;
  text-decoration: none;
}

/*styling for new customer and search customer buttons*/

.butn button {
  background-color: #8ABD91;
  color: white;
  border: 0;
  padding: 1%;
  font-weight: bold;
  border-radius: 5px;
}

.butn .btn {
  border: 0;
  padding: 1%;
  font-weight: bold;
  border-radius: 5px;
}

.butn button:hover {
  background-color: #013220;
  color: white;
}
 
/* Scheduler Styles Start */
.scheduler textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.scheduler .jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.scheduler h1 {
  font-size: 20px;
}

.scheduler .description {
  white-space: pre-wrap;
}

.scheduler .time-block {
  text-align: center;
}

.scheduler .row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.scheduler .hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-bottom: 1px dashed #000000;
}

.scheduler .past {
  background-color: #d3d3d3;
  color: white;
}

.scheduler .present {
  background-color: #ff6961;
  color: white;
}

.scheduler .future {
  background-color: #77dd77;
  color: white;
}

.scheduler .saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #8ABD91;
  color: white;
  max-width: 150px;
  width: 10%;
}

.scheduler .saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
/*Scheduler Styles End*/

/*Footer Styles*/
footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
